header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: transparent;
}
header.black{
    transition: all ease 0.5s;
    background-color: #141414;
}
.headerLogo{
    height: 25px;
}
.headerLogo img{
    height: 100%;
}
.avatarUser{
    height: 30px;
}
.avatarUser img{
    height: 100%;
    border-radius: 3px;
}